<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level [%c{1}] - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Reduce noise from TestNG internals -->
        <Logger name="org.testng" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Your framework logs -->
        <Logger name="base" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="utils" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
